.root {
    -fx-font-family: "Roboto";
    src: "../font/roboto/Roboto-Regular.ttf";
}

.jfx-drawer-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1)
}

.jfx-drawer-side-pane {
    -fx-background-color: WHITE;
}

.jfx-hamburger {
    -fx-padding: 10.0;
    -fx-spacing: 4px;
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 30px;
    -fx-pref-height: 4px;
    -fx-background-color: #FFF;
    -fx-background-radius: 5px;
}

.jfx-tool-bar {
    -fx-font-size: 20.0;
    -fx-font-weight: BOLD;
    -fx-background-color: #5264AE;
    -fx-pref-width: 100.0%;
    -fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 25.0;
    -fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label {
    -fx-text-fill: WHITE;
}

.jfx-tool-bar .jfx-options-burger {
    -fx-padding: 22px;
}

.jfx-tool-bar .jfx-options-burger StackPane {
    -fx-pref-width: 4px;
}

.jfx-tool-bar .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

.option-list-view {
    -fx-pref-width: 160.0px;
    -fx-background-color: WHITE;
}

.option-jfx-list-view-icon {
    -fx-fill: #5264AE;
    -fx-padding: 0.0 10.0 0.0 5.0;
    -fx-cursor: hand;
}

/* windows decorator*/
.jfx-decorator {
    -fx-decorator-color: derive(#5264AE, -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}